<% include ./partials/header%>

<div class="container">

     <br>
    <div class="row" style="display:flex; flex-wrap:wrap;">
        <% for( var i=0; i< camps.length; i++ ) {%>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%=camps[i].image%>" >
                <div class="caption">
                     <h4> <%=camps[i].name%></h4>
                </div>
                <p style="margin:auto; text-align:center;">
                    <a href="/campgrounds/<%= camps[i]._id %>" class="btn btn-primary"><i class="fa fa-info-circle"></i> More info</a>
                </p>
                </div>
            </div>
        <% } %>
    </div>
</div>

<% include ./partials/footer %>