<%  include partials/header %>
<style>
	body{
	background:url('https://source.unsplash.com/Dac1Yw8u3No/1366x768.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	.thumbnail{
		background : #e0e0e0;
		margin:auto;
		width:50%;
	}
	a{
		color:steelblue;
		
	}
</style>
<div class="thumbnail">

<h1 style="color:#333;">Camping Tips</h1>
<p>Here are some tips to make your camping experience a memorable one:</p>
	
	<h3>	Pack a backpack like a boss.</h3>
	<div class="caption-full">
		<img class="img-responsive photo" src="https://d36tnp772eyphs.cloudfront.net/blogs/1/2014/03/082.jpg">
		<p>If you’re gonna be moving, pack efficiently.</p>
	</div>
	<h3>Sage is a natural mosquito repellent.</h3>
	<div class="caption-full">
		<img class="img-responsive photo" src="https://d36tnp772eyphs.cloudfront.net/blogs/1/2014/03/052.jpg">
		<p>While it probably doesn’t say anything great about the nutritional content of Doritos, they actually work pretty well as kindling if, say, it just rained and you’re having trouble getting a fire lit. You can also use the lint from your laundry dryer’s filter.</p>
	</div>
	<h3> Use Doritos as tinder.</h3>
	<div class="caption-full">
		<img class="img-responsive photo" src="https://d36tnp772eyphs.cloudfront.net/blogs/1/2014/03/104-600x451.jpg">
		<p>While it probably doesn’t say anything great about the nutritional content of Doritos, 
		they actually work pretty well as kindling if, say, it just rained 
		and you’re having trouble getting a fire lit. 
		You can also use the lint from your laundry dryer’s filter.</p>
	</div>
	<h3> Create a makeshift lantern.</h3>
	<div class="caption-full">
		<img class="img-responsive photo" src="https://d36tnp772eyphs.cloudfront.net/blogs/1/2014/03/025.jpg">
		<p>You’d be surprised how much light it provides. They actually use old soda bottles as solar light bulbs in some parts of the world.</p>
	</div>
	<h3>Seriously, guys, you can cook virtually anything in foil.</h3>
	<div class="caption-full">
		<img class="img-responsive photo" src="https://d36tnp772eyphs.cloudfront.net/blogs/1/2014/03/Fotor0325161923-600x450.jpg">
		<p>Three cheese potatoes. Burgers. Sausage. Lumberjack breakfast. Pineapple upside-down cake. Nachos. All in foil.</p>
	</div>

	
	
	<p><strong>For more tips please see </strong><a href="https://matadornetwork.com/goods/31-crazy-camping-tricks-will-make-life-easier/">Here</a></p>
	<em>Credit goes to Albie Hartshill, for the tips.</em>
</div>

<% include partials/footer  %>
