<%  include ../partials/header %>
<div class="container">
<header class="jumbotron">
   <div class="container">
        <h1>Welcome to YelpCamp!</h1>
        <p>View our hand-picked campgrounds from all over the world! Click on any campground to view information.<p>
        <p ><a class="btn btn-primary btn-large" href="/campgrounds/new" >Add a New Campground</a></p>
   </div>
</header>
<div class="container">
     <br>
    <div class="row" style="display:flex; flex-wrap:wrap;">
        <% for( camp of camps ) {%>
            <div class="col-md-3 col-sm-6">
                <a href="/campgrounds/<%= camp._id %>" class="thumbnail">
                    <% if(camp.image.length)
                    {
                        if("image_approved" in camp && camp.image_approved == true)
                        { %>
                            <img src="<%=camp.image%>" >
                        <% }
                        else if(camp.author.id && currentuser && (camp.author.id.equals(currentuser._id) || currentuser.username === "ADMIN"))
                        {
                            if("image_approved" in camp && camp.image_approved == false){ %>
                                <p style="text-align: center">Image rejected</p>
                            <% }
                        }
                    } %>
                    <h4 class="text-center"><%=camp.name%></h4>
                </a>
            </div>
        <% } %>
    </div>
</div>
</div>

<% include ../partials/footer  %>
